@import "tailwindcss";
@keyframes typewriter {
  0% { opacity: 0; }
  2% { opacity: 1; }
  18% { opacity: 1; }
  20% { opacity: 0; }
  100% { opacity: 0; }
}

.animate-typewriter {
  animation: typewriter 10s infinite;
}

.animate-typewriter span {
  position: absolute;
  left: 0;
  animation: typewriter 10s infinite;
  animation-delay: 2s;
}